body{
	background-color: #333;
	color: white;
	font-family: Roboto;
}

#map {
	width: 700px;
	height: 600px;
	border: 10px solid black;
	border-radius: 4px;
	margin-left: 70px;
}

#find{
	padding-top: 15px;
}

#pac-input {
	color: black;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-size: 13px;
	font-weight: 300;
}

.header {
	color: black;
	text-align: center;
	letter-spacing: 20px;
}

input {
	color: black;
}

#placeColor {
	color: white;
}

#placesToView {
	padding-top: 20px;
	text-align: left;
}

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.6em;
        .btn {
            padding: 0.5em;
        }
    }
}

.intro {
	padding-left: 75px;
}

#views {
	margin: 100px;
}

.location {
	font-size: 19px;
	color: white;
}
